* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav2 {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.left-nav {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    border: none;
    font-size: 14px;
    padding: 10px 20px;
    outline: none;
}

.right-nav {
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.main2 {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main3 {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.left-tab {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.tab-text {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.tab-text h2 {
    text-align: left;
}

.wears-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.wears-types {
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 500;
    font-size: 14.5px;
    gap: 20px;
}

.wears-types img {
    width: 15%;
}

/* .wears-types h4 {
    text-align: left;
    width: 80%;
    font-size: 14.5px;
} */

/* Right Tab */

.right-tab {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.new-release {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gift-box {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gift-box img {
    width: 10%;
}

.gift-box h4 {
    width: 85%;
    font-size: 20px;
    padding-top: 5px;
    color: #61626D;
}

.filter {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary-search {
    width: 100%;
}

.search2 {
    border: none;
    font-size: 14px;
    padding: 10px 20px;
    outline: none;
}

.top-rated1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.top-rated2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.top-rated3 {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    gap: 40px;
}

.top-rated3 h4 {
    width: 10%;
    font-size: 16px;
    border-top: 2px solid;
    padding-top: 5px;
    border-radius: 10px;
    border-image: linear-gradient(120deg, #0d51cf, #fff)1;
}

.women-catalog {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 60px;
}

.catalog {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.catalog img {
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}

.catalog h3 {
    color: #7E7E7E;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
}

.catalog h5 {
    font-size: 17px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    width: auto;
}

/* Mobile Nav */
.navbar {
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 21px;
}
.navbar-logo-1 img{
    width: 90%;
}

.lines{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    border-radius: 20px;
}
.line-1{
    background-color: #000;
    width: 25px;
    height: 2px;
}
.line-2{
    background-color: #000;
    width: 15px;
    height: 2px;
}
.line-3{
    background-color: #000;
    width: 7px;
    height: 2px;
}

/* Responsiveness */

@media (max-width:1166px) {
    .right-tab {
        width: 78%;
    }

    .catalog h5 {
        font-size: 15px;
    }
}

@media (max-width:1075px) {
    .catalog h3 {
        font-size: 13px;
    }
}

@media (max-width:1029px) {

    .catalog h3 {
        font-size: 12px;
    }
}

@media (max-width:1002px) {
    .left-nav {
        width: 40%;
    }

    .catalog h5 {
        font-size: 15px;
    }

    .catalog h3 {
        font-size: 11px;
    }
}

@media (max-width:951px) {
    .left-tab {
        width: 20%;
    }

    .catalog h5 {
        font-size: 15px;
    }

    .catalog h3 {
        font-size: 10px;
    }
}

@media (max-width: 975px) {
    .left-tab {
        width: 25%;
    }
}

@media (max-width: 931px) {
    .catalog h3 {
        font-size: 8.5px;
    }

    .catalog h5 {
        font-size: 11px;
    }
}

@media (max-width:890px) {
    .left-nav {
        width: 50%;
    }

    .catalog h5 {
        font-size: 15px;
    }
}


@media (max-width:787px) {
    .left-nav {
        width: 50%;
    }

    .catalog h5 {
        font-size: 15px;
    }
}

@media (max-width:736px) {
    .left-tab {
        width: 21%;
    }

    .catalog h5 {
        font-size: 15px;
    }
}

@media (max-width:729px) {
    .left-tab {
        width: 22%;
    }

    .catalog h5 {
        font-size: 15px;
    }
}

@media (max-width:728px) {
    .left-tab {
        display: none;
    }

    .left-nav {
        width: 54%;
    }

    .right-nav {
        width: 16%;
    }

    .catalog h5 {
        font-size: 15px;
    }


    .right-tab {
        width: 92%;
    }
}

@media (max-width:703px) {
    .new-releasecont3 p {
        width: 69%;
    }

    .nav1 {
        display: none;
    }

    .navbar {
        display: block;
    }
}