* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav2 {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.left-nav {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-nav {
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    border: none;
    font-size: 14px;
    padding: 10px 20px;
    outline: none;
}

.main1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.main2 {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main3 {
    width: 100%;
    display: flex;
}

/* Left Tab */
.left-tab {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.tab-text {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.tab-text h2 {
    text-align: left;
    font-size: 23px;
}

.wears-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.wears-types {
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 500;
    font-size: 14.5px;
    gap: 20px;
}

.wears-types img {
    width: 15%;
}

/* Right Tab */

.right-tab {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.new-release {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-release h4 {
    width: 10%;
    font-size: 16px;
    border-top: 2px solid;
    border-radius: 10px;
    padding-top: 5px;
    border-image: linear-gradient(120deg, #0d51cf, #fff)1;
}

.show-aside {
    display: block;
}

.hide-aside {
    display: none;
}

.filter {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-releasecont1 {
    background-image: url(./img/Frame\ 202.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
}

.new-releasecont2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.new-releasecont3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 80px 15px;
    height: 100%;
}

.new-releasecont3 h1 {
    width: 40%;
    font-size: 30px;
    color: #03372A;
}

.new-releasecont3 p {
    width: 45%;
    font-size: 15px;
}

.new-releasecont3 button {
    margin-top: 15px;
    width: 14%;
    background-color: #03372A;
    border: 1px solid #03372A;
    border-radius: 5px;
    color: white;
    padding: 10px;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.top-rated1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.top-rated2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.top-rated3 {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    gap: 20px;
}

.top-rated3 h4 {
    width: 10%;
    font-size: 16px;
    border-top: 2px solid;
    padding-top: 5px;
    border-radius: 10px;
    border-image: linear-gradient(120deg, #0d51cf, #fff)1;
}

.women-catalog {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}

.catalog {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.catalog img {
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}

.catalog h3 {
    color: #7E7E7E;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
}

.catalog h5 {
    font-size: 20px;
    cursor: pointer;
}

.catalog h5 {
    font-size: 20px;
    cursor: pointer;
}

.catalog button {
    width: 100%;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    padding: 10px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    display: flex;
}

a {
    text-decoration: none;
    color: black;
    width: auto;
}

/* Mobile Nav */
.navbar {
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 21px;
}

.navbar-logo-1 img {
    width: 90%;
}

.right-navbar {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.right-nav {
    position: relative;
}

#cart-icon {
    display: inline-block;
}

#cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.lines {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    border-radius: 20px;
}

.line-1 {
    background-color: #000;
    width: 25px;
    height: 2px;
}

.line-2 {
    background-color: #000;
    width: 15px;
    height: 2px;
}

.line-3 {
    background-color: #000;
    width: 7px;
    height: 2px;
}

.mobile-nav {
    display: none;
}

/* Hamburger */
.mobile-nav .mtab-text {
    width: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.mwears-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
}

.mwears-types {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}

#closeIcon {
    font-size: 24px;
}

.mwears-types a {
    font-size: 20px;
    font-weight: 700;
}

.mwears-types img {
    width: 14%;
}

/* Responsiveness */

@media (max-width:1166px) {
    .right-tab {
        width: 78%;
    }

    .catalog h5 {
        font-size: 15px;
    }

    .new-release h4 {
        width: 11%;
    }
}

@media (max-width:1075px) {
    .catalog h3 {
        font-size: 13px;
    }

    .right-tab {
        width: 100%;
    }

    .new-release h4 {
        width: 14%;
    }
}

@media (max-width:1045px) {

    .new-releasecont3 p {
        width: 53%;
        font-size: 15px;
    }

    .new-releasecont3 h1 {
        width: 41%;
        font-size: 30px;
        color: #03372A;
    }

    .top-rated3 h4 {
        width: 15%;
    }
}

@media (max-width:1029px) {

    .catalog h3 {
        font-size: 12px;
    }
}

@media (max-width:1002px) {
    .left-nav {
        width: 40%;
    }

    .catalog h5 {
        font-size: 15px;
    }

    .catalog h3 {
        font-size: 11px;
    }
}

@media (max-width:951px) {
    .left-tab {
        width: 20%;
    }

    .catalog h5 {
        font-size: 15px;
    }

    .catalog h3 {
        font-size: 10px;
    }
}

@media (max-width: 988px) {
    .left-tab {
        width: 25%;
    }

    .new-releasecont3 h1 {
        width: 45%;
    }

    .new-releasecont3 h1 {
        width: 50%;
    }
}

@media (max-width: 975px) {
    .left-tab {
        width: 25%;
    }

    .new-releasecont3 h1 {
        width: 50%;
    }

    .new-releasecont3 p {
        width: 60%;
    }

    .new-releasecont3 button {
        width: 22%;
    }
}

@media (max-width: 931px) {
    .catalog h3 {
        font-size: 8.5px;
    }

    .catalog h5 {
        font-size: 11px;
    }
}

@media (max-width:890px) {
    .left-nav {
        width: 50%;
    }

    .catalog h5 {
        font-size: 15px;
    }
}


@media (max-width:885px) {
    .new-releasecont3 h1 {
        width: 60%;
    }

    .new-releasecont3 p {
        width: 65%;
    }
}

@media (max-width:803px) {
    .new-releasecont3 p {
        width: 70%;
    }

    .new-release h4 {
        width: 16%;
    }
}

@media (max-width:821px) {
    .new-releasecont3 p {
        width: 70%;
    }

    .new-release h4 {
        width: 16%;
    }

    .top-rated3 h4 {
        width: 15%;
    }
}

@media (max-width:787px) {
    .left-nav {
        width: 50%;
    }

    .catalog h5 {
        font-size: 15px;
    }

    .new-releasecont3 h1 {
        width: 65%;
    }
}

@media (max-width:736px) {
    .left-tab {
        width: 21%;
    }

    .catalog h5 {
        font-size: 15px;
    }
}

@media (max-width:729px) {
    .left-tab {
        width: 22%;
    }

    .catalog h5 {
        font-size: 15px;
    }

    #cart-count {
        position: absolute;
        top: 9px;
        right: 87px;
    }
}

@media (max-width:728px) {
    .left-tab {
        display: none;
    }

    .left-nav {
        width: 54%;
    }

    .right-nav {
        width: 16%;
    }

    .catalog h5 {
        font-size: 15px;
    }

    .right-tab {
        width: 100%;
    }

    .nav1 {
        display: none;
    }

    .navbar {
        display: flex;
        padding: 15px;
        width: 100%;
    }

    .navbar-logo-1 img {
        width: 70%;
    }

    .new-release {
        width: 97%;
    }

    .new-releasecont3 {
        width: 100%;
    }

    .women-catalog {
        grid-template-columns: repeat(4, 1fr);
    }

    .catalog img {
        width: 90%;
    }

    .catalog button {
        width: 80%;
    }

    #cart-count {
        top: 10x;
        right: 88px;
    }

    .mobile-nav {
        display: block;
        position: fixed;
        z-index: 100;
        width: 100%;
        background: #ffffff;
        top: 0;
        left: -100vw;
        transition: 0.5s ease-in-out;
        padding: 5px 10px;
        min-height: 100vh;
    }


    .show-nav{
        left: 0;
    }
}

@media (max-width: 714px) {
    #cart-count {
        right: 83px;
    }
}

@media (max-width:703px) {
    .new-releasecont3 p {
        width: 69%;
    }

    .nav1 {
        display: none;
    }

    .navbar {
        display: flex;
        padding: 15px;
        width: 100%;
    }

    .navbar-logo-1 img {
        width: 70%;
    }

    .new-release {
        width: 97%;
    }

    .new-releasecont3 {
        width: 100%;
    }

    .women-catalog {
        grid-template-columns: repeat(4, 1fr);
    }

    .catalog img {
        width: 90%;
    }

    .catalog button {
        width: 80%;
    }
}

@media (max-width:665px) {
    #cart-count {
        right: 78px;
        width: 16px;
    }
}

@media (max-width:607px) {
    .women-catalog {
        grid-template-columns: repeat(3, 1fr);
    }

    .new-release h4 {
        width: 19%;
    }

    .navbar {
        width: 97%;
    }

    #cart-count {
        right: 87px;
        width: 14px;
    }
}

@media (max-width: 570px) {
    .top-rated3 h4 {
        width: 16%;
    }

    .catalog button {
        width: 75%;
        font-size: 12px;
    }
}

@media (max-width: 555px) {
    #cart-count {
        right: 78px;
    }
}

@media (max-width:533px) {
    #cart-count {
        right: 75px;
    }
}

@media (max-width: 506px) {
    .new-release h4 {
        width: 25%;
    }

    .navbar {
        width: 90%;
    }

    .new-release {
        width: 88%;
    }

    .women-catalog {
        grid-template-columns: repeat(2, 1fr);
    }

    .top-rated3 h4 {
        width: 20%;
    }

    .catalog img {
        width: 80%;
    }

    #cart-count {
        right: 104px;
    }
}

@media (max-width:490px) {
    .new-releasecont3 button {
        font-size: 70%;
    }

    .new-releasecont3 h1 {
        width: 85%;
    }
}

@media (max-width:483px) {
    #cart-count {
        right: 96px;
    }
}

@media (max-width:430px) {
    .new-releasecont3 button {
        font-size: 70%;
    }

    .new-releasecont3 h1 {
        width: 80%;
    }

    .top-rated3 h4 {
        width: 25%;
    }

    .new-release h4 {
        width: 30%;
    }
}

@media (max-width: 451px) {
    #cart-count {
        right: 92px;
    }
}

@media (max-width:439px) {
    #cart-count {
        right: 88px;
    }
}

@media (max-width:380px) {
    .women-catalog {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .new-releasecont3 h1 {
        width: 80%;
        font-size: 24px;
    }

    .new-releasecont3 p {
        width: 60%;
        font-size: 18px;
    }
}

@media (max-width: 378px)  {
    #cart-count{
        right: 77px;
    }
}

@media (max-width:370px) {
    .women-catalog {
        display: flex;
        flex-direction: column;
    }

    .new-releasecont3 h1 {
        width: 80%;
        font-size: 24px;
    }

    .new-releasecont3 p {
        width: 60%;
        font-size: 18px;
    }

    .catalog h3 {
        font-size: 16.5px;
    }
}

@media (max-width: 358px) {
    .new-release h4 {
        width: 35%;
    }

    .new-releasecont3 button {
        width: 30%;
    }
}

@media (max-width:340px) {
    .new-release h4 {
        width: 35%;
    }

    .top-rated3 h4 {
        width: 30%;
    }

    .new-releasecont3 button {
        width: 30%;
    }
}

@media (max-width:336px) {
    .new-release h4 {
        width: 40%;
    }

    .new-releasecont3 button {
        width: 40%;
    }

    .top-rated3 h4 {
        width: 35%;
    }

    .catalog h3 {
        font-size: 16.5px;
    }
}

@media (max-width:328px) {
    .navbar {
        width: 87%;
    }
}

@media (max-width: 314px) {
    .new-release h4 {
        width: 36%;
    }

    .new-releasecont3 h1 {
        font-size: 20px;
    }

    .new-releasecont3 p {
        width: 63%;
        font-size: 15px;
    }
}

@media (max-width: 301px) {
    .new-release h4 {
        width: 40%;
    }
}

@media (max-width: 294px) {
    .navbar {
        width: 95%;
    }

    .right-navbar {
        gap: 14px;
    }
}

@media (max-width: 282px) {
    .new-release h4 {
        width: 40%;
    }

    .new-releasecont3 h1 {
        font-size: 20px;
    }

    .new-releasecont3 p {
        width: 63%;
        font-size: 15px;
    }
}

@media (max-width: 273px) {
    .new-release h4 {
        width: 45%;
    }
}
